/*LIGHT MODE*/

.campgroundsWrapper {
  position: relative;
}

.campgroundsWrapper::before {
  background-size: cover;
  background-position: center;
  z-index: -9999;
  filter: blur(2px);
  content: "";
  position: absolute;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;
  background-image: url("https://images.unsplash.com/photo-1512503097562-0d48af52b006?q=80&w=1966&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.main {
  background-color: rgba(240, 240, 240, 0.6);
}

.searchBar::placeholder {
  font-size: 18px;
}

.searchBar {
  border: none;
  background-color: rgba(240, 240, 240, 0.6);
  padding: 10px 20px;
  border-radius: 25px;
  background: linear-gradient(45deg, #69b4e3, #90ed90);
}

.searchBar:focus {
  box-shadow: none;
}

.searchBar:hover {
  box-shadow: 0 0 8px rgba(220, 224, 229, 0.6);
}

.campgroundsTitle {
  font-family: "Roboto Slab", serif;
  font-size: 36px; 
  font-weight: bold;
  color: #333; 
}

.cardAuthor {
  color: rgba(108,117,125,1)
}

