.campgroundsWrapper {
  position: relative;
}

.campgroundsWrapper::before {
  background-size: cover;
  background-position: center;
  z-index: -9999;
  filter: blur(1px);
  content: "";
  position: absolute;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;
  /* background-color: rgba(237, 239, 243, 0.4);*/
  background-image: url("../../assets/images/lightmode/CampgroundDetails.jpg");
}

.editCampgroundButton{
  background-color: #0f9cb2;
}

.editCampgroundButton:hover {
  background-color: #0f9cb2ce;
}

.editCampgroundButton,
.deleteCampgroundButton {
  color: rgba(255, 255, 255, 0.9);
  @media (max-width: 380px) {
    font-size: 0.75em;
  }
}

.editCampgroundButton:hover,
.deleteCampgroundButton:hover {
  color: rgba(255, 255, 255, 0.9);
}

.cardCategories {
  background-color: #ffffffe6;
  border: none;
  color: white !important;
}

.cardDescription {
  max-height: calc(1.5em * 7);
  scrollbar-color: rgba(0, 0, 0, 0.436) #9c6b0900;
  overflow-y: auto;
  font-family: sans-serif;
  white-space: pre-wrap;
  color: black;
}

.cardLocation {
  max-height: calc(1.5em * 4);
  scrollbar-color: rgba(0, 0, 0, 0.436) #9c6b0900;
  overflow-y: auto;
}

.reviewWrapper {
  background-color: #c5c5a5de;
}

.reviewHeader {
  color: black
}

.noReviewHeader {
  color: black
}

.reviewTextarea,
.reviewTextarea:focus {
  background-color: #ffffffc6 !important;
  resize: none;
  color: rgb(0, 0, 0) !important;
  overflow-y: auto;
  scrollbar-color: rgba(0, 0, 0, 0.436) #ffffffc6;
  border: none;
}

.userReview {
  background-color: #ffffffc6;
}

.userReviewAuthor,
.userReviewTitle {
  color: rgb(0, 0, 0) !important;
}

.listGroupItem {
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: none;
}

.userReviewContent {
  overflow-y: auto;
  scrollbar-color: rgba(0, 0, 0, 0.436) #9c6b0900;
  color: rgb(0, 0, 0) !important;
  max-height: calc(1.5em * 5);
  white-space: pre-wrap;
  font-family: sans-serif;
}

.bookingWrapper {
  background-color: #f5f5dccf;
}

/* .bookingHeader,
.bookingStartDate,
.bookingEndDate {
  color: rgba(255, 255, 255, 0.9);
} */

.bookingButton {
  background-color: #17a3b8;
  color: rgba(255, 255, 255, 0.9);
}
.bookingButton:hover {
  background-color: #17a3b8d3;
  color: rgba(255, 255, 255, 0.9);
}

.campgroundAuthorText {
  color: black
}