/*LIGHT MODE*/

.campgroundsWrapper {
  position: relative;
}

.campgroundsWrapper::before {
  content: "";
  background-size: cover;
  background-position: center;
  z-index: -9999;
  filter: blur(2px);
  content: "";
  position: absolute;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;
  background-image: url("../../assets/images//lightmode/Campgrounds.jpg");
}

.main {
  background-color: rgba(240, 240, 240, 0.6);
}

.searchBar::placeholder {
  font-size: 18px;
}

.searchBar {
  border: none;
  background-color: rgba(240, 240, 240, 0.6);
  padding: 10px 20px;
  border-radius: 25px;
  background: linear-gradient(45deg, #69b4e3, #90ed90);
}

.searchBar:focus {
  box-shadow: none;
}

.searchBar:hover {
  box-shadow: 0 0 8px rgba(220, 224, 229, 0.6);
}

.campgroundsTitle {
  font-family: "Roboto Slab", serif;
  font-size: 36px; 
  font-weight: bold;
  color: #333; 
}

.cardAuthor {
  color: rgba(108,117,125,1)
}

