.newCampgroundWrapper {
  position: relative;
}

.newCampgroundWrapper::before {
  content: "";
  position: absolute;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;
  background-image: url("https://images.unsplash.com/photo-1526491109672-74740652b963?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  z-index: -9999;
  filter: blur(3px);
}

.formWrapper {
  background-color: #f5f5dcb3;
  padding: 32px;
  z-index: 1;
  position: relative;
}

.formColumn {
  z-index: 10000;
  padding-top: 64px;
  padding-bottom: 64px;
}

.submitButton {
  border-radius: 6px;
}

.submitButton:hover {
  background-color: #218838;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.formImageInput,
.formImageInput::file-selector-button {
  background-color: white;
  border: none;
  color: black;
}

.formImageInput:focus,
.formImageInput:active,
.formImageInput:hover {
  border: none;
  box-shadow: none;
}

.textarea {
  resize: none;
  background-color: white;
  border: none ;
  color: white;
}
