.profileWrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.profileWrapper::before {
  background-size: cover;
  background-position: center;
  z-index: -9999;
  filter: blur(0px);
  content: "";
  position: absolute;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;
  background-image: url("https://images.unsplash.com/photo-1476041800959-2f6bb412c8ce?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.profileContainer {
  background-color: #f5f5dcb3;
}
