.reviewsInfo {
  overflow-x: auto;
}

.reviewWrapper {
  background-color: white;
}

.campgroundHeader,
.ratingHeader,
.reviewHeader {
  color: black
}

.campgroundContent,
.ratingContent,
.reviewContent {
  color: black
}
