.navLink {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  margin-left: 1rem;
  border-bottom: 0.25rem solid transparent;
}

.navLink:hover {
  color: rgba(255, 255, 255, 0.8);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  border-bottom: 0.2rem;
}

.navLink:active {
  color: white;
  border-bottom-color: white;
}

.btnSecondaryBS,
.btnSecondaryBS:hover {
  color: #333;
  text-shadow: none;
}

.navbar {
  width: 100vw;
  position: sticky;
  color: white;
  align-content: center;
  padding-right: 1rem;
}

@media (max-width: 992px) {
    .navItem {
        margin-top: 16px;
    }
    .navbarNav {
        align-items: center;
    }
}

