.FourOhFourWrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.FourOhFourWrapper::before {
  content: "";
  position: absolute;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;
  background-image: url("../../assets/images/darkmode/404.jpg");
  background-size: cover;
  background-position: center;
  z-index: -9999;
  filter: blur(1px);
  filter: brightness(65%);
}

.text {
  color: rgba(255,255,255,0.85);
}

.homepageButton,
.homepageButton:hover {
  color: rgba(255,255,255,0.85);
  background-color: rgba(0, 0, 139, 0.696);
}

.campgroundsButton, .campgroundsButton:hover {
    color: rgba(255,255,255,0.85);
    background-color: rgba(231, 166, 43, 0.658);
}

.footer {
  background-color: transparent !important;
  margin-top: 0px !important;
}
.navbar {
  width: 100%;
  background-color: transparent !important;
  position: sticky;
  color: white;
  align-content: center;
  padding-right: 1rem;
}

.navLink {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  margin-left: 1rem;
  border-bottom: 0.25rem solid transparent;
}

.navLink:hover {
  color: rgba(255, 255, 255, 0.8);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  border-bottom: 0.2rem;
}

.navLink:active {
  color: white;
  border-bottom-color: white;
}

.navItem {
  align-self: center;
}

@media (max-width: 992px) {
  .navItem {
    margin-top: 16px;
  }
}
