.fullpageWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: transparent;
  animation: fadeInGrey 0.5s forwards;
}

.modalCard {
  background-color: transparent;
}

.usernameHeader {
  color: rgba(255, 255, 255, 0.85);
}

.passwordHeader {
  color: rgba(255, 255, 255, 0.85);
}

.fieldUsername {
  background-color: rgba(255, 255, 255, 0.85) !important;
  border: none;
  border-bottom: 1px solid;
  border-radius: 4px 4px 0px 0px;
  padding-left: 0.5em !important;
}

.fieldPassword, .fieldPassword:hover {
  background-color: rgba(255, 255, 255, 0.85) !important; 
  border: none;
  border-bottom: 1px solid;
  border-radius: 4px 4px 0px 0px;
  width: 100%;
  padding-left: 0.5em !important;
}

.fieldUsername:hover,
.fieldUsername:focus,
.fieldPassword:hover,
.fieldPassword:focus {
  box-shadow: none;
  border-color: black;
}

.cardForm {
  background: linear-gradient(
    to left,
    rgba(6, 6, 107, 0.9),
    rgba(104, 70, 8, 0.9)
  );
}

.loginHeader {
  color: rgba(255, 255, 255, 0.85);
  border-bottom: 2px solid white;
}

.registerHeader {
  color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
}

.registerHeader:hover {
  animation: RegisterHeaderHover 0.2s forwards;
}

.submitButton {
  color: white;
  background-color: rgb(27, 105, 12);
}

.submitButton:hover {
  color: white;
  background-color: rgb(34, 133, 15);
}

@keyframes RegisterHeaderHover {
  from {
    color: rgba(255, 255, 255, 0.85);
  }
  to {
    color: rgba(255, 255, 255, 1);
  }
}

@keyframes fadeInGrey {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
